.container {
  background-color: #efeeee;
  padding: 30px;
}

.orders {
  background-color: #fff;
  padding: 20px;
}

.orders h2 {
  border-bottom: 2px solid var(--primary-shade);
  padding: 20px;
}
.orders p {
  padding: 12px;
}
.orders img {
  width: 120px !important;
}
.orders div {
  height: auto;
}
